.stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
  }
}

.store-icon {
  max-height: 1.5rem;
  max-width: 1.5rem;
  border-radius: 6px;
}

.store-flag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1rem;
  width: 2rem;
  border-radius: 3px;
  overflow: hidden;
}

.store-tile {
  position: relative;
  z-index: 1;
  margin-bottom: auto;
  box-shadow: 0 0 0 1px var(--dark);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: var(--black);
  max-width: 90vw;
  width: 300px;
  &:hover {
    box-shadow: 0 0 0 1px var(--dark), 0 5px 15px -10px;

    .tooltip {
      animation: build-tooltip 0.1s ease forwards 1;
    }
  }
  &::before {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 7px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &.active {
    &::before {
      background: var(--green);
      box-shadow: 0 0 5px 1px var(--green);
    }
  }
  &.disabled {
    &::before {
      background: var(--red);
      box-shadow: 0 0 5px 1px var(--red);
    }
  }
  .mono {
    display: block;
    max-width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes build-tooltip {
  to {
    transform: translateY(calc(1rem + 8px)) scale(1);
    opacity: 1;
  }
}

.sidebar {
  > div {
    box-shadow: 0 1px 0 0 var(--dark);
  }
  .sidebar-shortcuts {
    padding: 15px 0;
    .sidebar-shortcut {
      &.active-bar {
        box-shadow: inset -4px 0 0;
      }
      display: grid;
      grid-template-columns: 2em 1fr;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      :first-child {
        text-align: center;
        font-size: 1.5rem;
      }
      &:not(.active) {
        &:hover {
          .collapsible {
            font-weight: 800;
          }
        }
      }
      &.active {
        background: var(--white);
      }
    }
  }
  .collapsible {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    i {
      font-size: 0.8rem;
    }
  }
  &:not(.collapse) {
    .sidebar-shortcuts {
      .sidebar-shortcut {
        &.active {
          color: var(--black);
        }
      }
    }
  }
  &.collapse {
    text-align: center;
    .collapsible {
      display: none;
    }
  }
  &.collapse {
    .sidebar-shortcut {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      // padding: 15px;
      &:hover {
        position: relative;
        .collapsible {
          position: absolute;
          bottom: 0;
          top: 0;
          right: 0;
          left: calc(100% + 10px);
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          padding: 4px;
          box-shadow: 0 10px 30px -5px;
          border-radius: 6px;
          z-index: 2;
          background: var(--black);
          display: block;
          width: 100%;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          min-width: 100px;
          margin: auto;
        }
      }
    }
  }
}

.graph {
  rect {
    fill: var(--accent) !important;
  }
}
.no-click {
  pointer-events: none;
  cursor: no-drop;
}
.store-management {
  padding: 2rem 1rem;
  margin: auto;
  width: max-content;
  h1 {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    word-break: break-all;
  }
  .help-text {
    width: 80vw;
    max-width: 500px;
    font-size: 0.9rem;
  }
  .graph {
    width: 80vw;
    max-width: 600px;
  }
  .subsect {
    padding: 1rem;
    margin-right: auto;
    border-radius: 3px;
    background: var(--black);
    width: max-content;
    h3 {
      margin: 0 auto 0 0;
    }
  }
}
@keyframes buildIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  background: var(--accent-3);
  height: max-content;
  width: max-content;
  position: absolute;
  animation: buildIn 0.6s ease forwards 1;
  .form {
    margin: 0;
    box-shadow: 0 30px 60px var(--white), 0 0 0 1px var(--dark);
    &.page {
      padding: 1rem;
    }
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: var(--screen);
    height: 100vh;
    width: 100vw;
    margin: auto;
    z-index: -1;
    opacity: 0;
    animation: b1 0.6s ease forwards 1;
    @keyframes b1 {
      from {
        opacity: 0;
        transform: scale(0.95);
      }
      to {
        opacity: 0.75;
        transform: scale(1);
      }
    }
  }
  &::after {
    content: "";
    background: var(--accent-3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
  }
}

.switch {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 10px;
  // padding: 6px;
  border-radius: 6px;
  // box-shadow: 0 0 0 2px var(--accent-4);
  // background: var(--accent-2);
  .btn {
    text-transform: none;
    transition: 0.2s ease;
    color: var(--text);
    background: none;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &::after,
    &::before {
      display: none;
    }
    &.active {
        opacity: 1;
        background: var(--shadow-30);
        text-align: center;
      &:not(.severe) {
        color: var(--green);
        // color: var(--black);
        // box-shadow: 0 0 0 6px var(--green);
        height: 100%;
        border-radius: 3px;
        &:hover {
          // color: var(--green-0);
        }
      }
      &.severe {
        color: var(--red);
      }
    }
  }
}

.spin {
  animation: spin 1s linear forwards infinite;
  transform-origin: center;
  color: var(--accent-2);
  opacity: 1 !important;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
