.stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
  }
}

.store-icon {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 6px;
}

.store-flag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1rem;
  width: 2rem;
  border-radius: 3px;
  overflow: hidden;
}

.store-tile {
  position: relative;
  z-index: 1;
  margin-bottom: auto;
  box-shadow: 0 15px 50px -40px #000;
  padding: 1rem;
  border-radius: 10px;
  transition: ease;
  cursor: pointer;
  background: var(--black);
  max-width: 90vw;
  width: 300px;
  display: grid;
gap: 10px;
  &:hover {
    box-shadow: 0 5px 15px -10px #000;

    .tooltip {
      animation: build-tooltip 0.1s ease forwards 1;
    }
  }
  &::before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.active {
    &::before {
      background: linear-gradient(-45deg, transparent 50%, var(--green) 0%);
    }
  }
  &.disabled {
    &::before {
      background: linear-gradient(-45deg, transparent 50%, var(--red) 0%);
    }
  }
  .mono {
    display: block;
    max-width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes build-tooltip {
  to {
    transform: translateY(calc(1rem + 8px)) scale(1);
    opacity: 1;
  }
}

.sidebar {
  > div {
    box-shadow: 0 1px 0 0 var(--dark);
  }
  .sidebar-shortcuts {
    padding: 15px 0;
    .sidebar-shortcut {
      &.active-bar {
        box-shadow: inset -4px 0 0;
      }
      display: grid;
      grid-template-columns: 2em 1fr;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      >:first-child {
        text-align: center;
        font-size: 1.5rem;
      }
      &:not(.active) {
        &:hover {
          .collapsible {
            font-weight: 800;
          }
        }
      }
      &.active {
        background: var(--white);
      }
    }
  }
  .collapsible {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    i {
      font-size: 0.8rem;
    }
  }
  &:not(.collapse) {
    .sidebar-shortcuts {
      .sidebar-shortcut {
        &.active {
          color: var(--black);
        }
      }
    }
  }
  &.collapse {
    text-align: center;
    .collapsible {
      display: none;
    }
  }
  &.collapse {
    .sidebar-shortcut {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      &:hover {
        position: relative;
        .collapsible {
          position: absolute;
          bottom: 0;
          top: 0;
          right: 0;
          left: calc(100% + 10px);
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          padding: 4px;
          box-shadow: 0 10px 30px -5px;
          border-radius: 6px;
          z-index: 2;
          background: var(--black);
          display: block;
          width: 100%;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          min-width: 100px;
          margin: auto;
        }
      }
    }
  }
}

.graph {
  rect {
    fill: var(--accent) !important;
  }
}
.no-click {
  pointer-events: none;
  cursor: no-drop;
}
.store-management {
  padding: 2rem 1rem;
  margin: auto;
  width: max-content;
  h1 {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    word-break: break-all;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    margin-bottom: 2rem;
    span {
      &:first-of-type {
        font-weight: 100;
        font-size: 3rem;
      }
    }
  }
  .help-text {
    width: 80vw;
    max-width: 500px;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .graph {
    width: 80vw;
    max-width: 600px;
  }
  .subsect {
    padding: 1rem;
    margin-right: auto;
    border-radius: 3px;
    background: var(--black);
    width: max-content;
    h3 {
      margin: 0 auto 0 0;
    }
  }
  &.spin-fresco {
    &::before {
      content: "";
      position: absolute;
      height: 120px;
      width: 120px;
      border-color: transparent transparent transparent var(--accent);
      border-style: solid;
      border-width: 5px;
      border-radius: 180px;
      animation: spin 1s linear forwards infinite;
      transform-origin: center;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
@keyframes buildIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto auto auto;
  z-index: 5;
  background: var(--accent-3);
  height: max-content;
  width: max-content;
  position: absolute;
  animation: buildIn 0.6s ease forwards 1;
  .form {
    margin: 0;
    box-shadow: 0 30px 60px #000, 0 0 0 1px var(--dark);
    &.page {
      padding: 1rem;
    }
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: var(--screen);
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    margin: auto;
    z-index: -1;
    opacity: 0;
    // animation: b1 0.6s ease forwards 1;
    @keyframes b1 {
      from {
        opacity: 0;
        transform: scale(0.95);
      }
      to {
        opacity: 0.75;
        transform: scale(1);
      }
    }
  }
  &::after {
    content: "";
    background: var(--accent-3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
  }
}

.switch {
  margin-right: auto;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
position: relative;
padding: 5px;
  border-radius: 6px;
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    position: absolute;
    border-radius: 8px;
  }
  .btn {
    text-transform: none;
    transition: 0.2s ease;
    color: var(--text);
    background: none;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &::after,
    &::before {
      display: none;
    }
    &.active {
      opacity: 1;
      background: var(--shadow-30);
      text-align: center;
      &:not(.severe) {
        color: var(--green);
        height: 100%;
        border-radius: 3px;
        &:hover {
        }
      }
      &.severe {
        color: var(--red);
      }
    }
  }
}

.spin {
  animation: spin 1s linear forwards infinite;
  transform-origin: center;
  color: var(--accent-2);
  opacity: 1 !important;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.button-cluster,
.date-range-parent {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background: var(--accent);
  color: var(--black);
  gap: 5px;
  padding: 4px;
  border-radius: 8px;
  position: relative;
  .btn {
    background: transparent;
    &:hover {
      &::before {
        background: var(--accent-2) !important;
      }
    }
    padding: 15px 15px;
  }
  select {
    background: transparent;
    border: 0;
    font-size: 1rem;
    height: 100%;
    color: var(--accent-3);
    text-transform: capitalize;
    &:hover {
      color: var(--white);
    }
  }
}
.vue-daterange-picker {
  padding: 15px 5px;
  cursor: pointer;
}
.daterangepicker {
  position: absolute;
  z-index: 2;
  background: var(--black);
  color: var(--white);
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 4rem;
  box-shadow: 0 10px 50px -30px;
  .calendars {
    display: grid;
    gap: 1rem;
    min-width: 230px;
    padding: 15px;
  }
  .ranges {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: space-around;
      li {
        padding: 10px;
        font-size: 0.8rem;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          background: var(--dark);
        }
      }
    }
  }
  .calendars-container {
    display: flex;
    gap: 15px;
    .table-condensed {
      thead {
        th {
          text-align: center;
          font-weight: 100;
        }
      }
      tbody {
        .week {
          opacity: 0.2;
        }
        th {
          font-weight: 500;
        }
        td {
          padding: 6px;
          font-size: 0.8rem;
          text-align: center;
          transition: none !important;
          cursor: pointer;
          &.off {
            opacity: 0.4;
          }
          &.in-range {
            color: var(--black);
            background: var(--accent-4);
          }
          &.start-date,
          &.end-date {
            background: var(--accent);
          }
        }
      }
      .prev {
        &.available {
          cursor: pointer;
          span::before {
            content: "\f053";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          }
        }
      }
      .next {
        &.available {
          cursor: pointer;
          span::before {
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
          }
        }
      }
    }
  }
}

.modern-select {
  position: relative;
  margin: 15px 0;
  .selected {
    padding: 15px;
    border-radius: 10px;
    background: var(--dark);
    cursor: pointer;
  }
  color: var(--white);
  ul {
    z-index: 2;
    position: absolute;
    list-style: none;
    padding: 0;
    background: var(--black);
    border-radius: 10px;
    overflow-x: hidden;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0px 20px 50px -20px #000;
    li {
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background: var(--dark);
      }
    }
  }
}
