/* ibm-plex-mono-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}

/* ibm-plex-mono-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/assets/fonts/ibm-plex-mono-v7-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
